snippet Feature
	Feature: New feature
		In order to [do some cool things]
		[stakeholder]
		wants [some cool functionality]

		Scenario: Plays it nice

snippet Scenario
	Scenario: Some cool dude wants some cool things
